process {
    executor = 'awsbatch'

    withName:.* {
        container = 'your-dockerhub/cellpose-squidpy:latest'
        cpus = 4
        memory = '16 GB'
        time = '4h'
    }
}

aws {
    region = 'ap-south-1'
}

params {
    tiff = "s3://tiffimage/tiffimage/lungstiff.tif"
    h5   = "s3://tiffimage/tiffimage/lungsfeaturematrix.h5"
    outdir = "s3://tiffimage/results/"
}