params {
    // Input data paths (update these for your data)
    tiff = "s3://tiffimage/tiffimage/lungstiff.tif"
    h5   = "s3://tiffimage/tiffimage/lungsfeaturematrix.h5"
    
    // Output directory
    outdir = "s3://tiffimage/results/"
}

docker {
    enabled = true
}

wave {
    enabled = true
}

process {
    executor = 'awsbatch'
    
    // Default Wave container with all Python dependencies
    container = 'community.wave.seqera.io/library/anndata_cellpose_celltypist_matplotlib_pruned:1b8489838d4f0190'
    
    // Default resources
    cpus = 2
    memory = '4 GB'
    time = '2h'
    
    // Process-specific resource configurations
    withName: PREPROCESS_IMAGE {
        cpus = 2
        memory = '8 GB'
    }
    
    withName: CELLPOSE_SEGMENT {
        cpus = 4
        memory = '16 GB'
        time = '4h'
    }
    
    withName: AI_ROI_CROP {
        cpus = 2
        memory = '8 GB'
    }
    
    withName: SCRNA_QC {
        cpus = 1
        memory = '4 GB'
    }
    
    withName: SCRNA_MAD_FILTER {
        cpus = 1
        memory = '4 GB'
    }
    
    withName: SCRNA_DIM_REDUCTION {
        cpus = 2
        memory = '8 GB'
    }
    
    withName: SCRNA_CLUSTER {
        cpus = 2
        memory = '8 GB'
    }
    
    withName: SCRNA_ANNOTATE {
        cpus = 2
        memory = '8 GB'
        time = '3h'
    }
    
    withName: SPATIAL_REFINE {
        cpus = 2
        memory = '8 GB'
    }
    
    withName: SPATIAL_INTEGRATION {
        cpus = 2
        memory = '8 GB'
    }
    
    withName: 'SCRNA_PLOTS|SPATIAL_PLOTS|REPORT' {
        cpus = 1
        memory = '4 GB'
    }
}

aws {
    region = 'ap-south-1'
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}